<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FlowInstanceMapper">

    <resultMap type="com.hfits.system.workflow.domain.FlowInstance" id="FlowInstanceResult">
        <id     property="id"               column="id"/>
        <result property="flowId"           column="flow_id"/>
        <result property="applicantId"      column="applicant_id"/>
        <result property="status"           column="status"/>
        <result property="currentStepCode"  column="current_step_code"/>
        <result property="formData"         column="form_data"/>
        <result property="createBy"         column="create_by"/>
        <result property="createTime"       column="create_time"/>
        <result property="updateBy"         column="update_by"/>
        <result property="updateTime"       column="update_time"/>
        <result property="remark"           column="remark"/>
        <result property="flowCode"         column="flow_code"/>
        <result property="flowName"         column="flow_name"/>
    </resultMap>

    <sql id="Base_Column_List">
        fi.id, fi.flow_id, fi.applicant_id, fi.status, fi.current_step_code, fi.form_data,
        fi.create_by, fi.create_time, fi.update_by, fi.update_time, fi.remark,
        fd.flow_code, fd.flow_name
    </sql>

    <select id="selectFlowInstanceById" parameterType="Long" resultMap="FlowInstanceResult">
        select <include refid="Base_Column_List"/>
        from flow_instance fi
        left join flow_def fd on fi.flow_id = fd.id
        where fi.id = #{id}
    </select>

    <select id="selectFlowInstanceList" parameterType="FlowInstance" resultMap="FlowInstanceResult">
        select <include refid="Base_Column_List"/>
        from flow_instance fi
        left join flow_def fd on fi.flow_id = fd.id
        <where>
            <if test="flowId != null">
                and fi.flow_id = #{flowId}
            </if>
            <if test="status != null and status != ''">
                and fi.status = #{status}
            </if>
            <if test="applicantId != null">
                and fi.applicant_id = #{applicantId}
            </if>
        </where>
        order by fi.id desc
    </select>

    <insert id="insertFlowInstance" parameterType="FlowInstance" useGeneratedKeys="true" keyProperty="id">
        insert into flow_instance(
            <trim suffixOverrides=",">
                <if test="flowId != null">flow_id,</if>
                <if test="applicantId != null">applicant_id,</if>
                <if test="status != null">status,</if>
                <if test="currentStepCode != null">current_step_code,</if>
                <if test="formData != null">form_data,</if>
                <if test="remark != null">remark,</if>
                <if test="createBy != null">create_by,</if>
                <if test="createTime != null">create_time,</if>
            </trim>
        ) values(
            <trim suffixOverrides=",">
                <if test="flowId != null">#{flowId},</if>
                <if test="applicantId != null">#{applicantId},</if>
                <if test="status != null">#{status},</if>
                <if test="currentStepCode != null">#{currentStepCode},</if>
                <if test="formData != null">#{formData},</if>
                <if test="remark != null">#{remark},</if>
                <if test="createBy != null">#{createBy},</if>
                <if test="createTime != null">#{createTime},</if>
            </trim>
        )
    </insert>

    <update id="updateFlowInstance" parameterType="FlowInstance">
        update flow_instance
        <set>
            <if test="flowId != null">flow_id = #{flowId},</if>
            <if test="applicantId != null">applicant_id = #{applicantId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="currentStepCode != null">current_step_code = #{currentStepCode},</if>
            <if test="formData != null">form_data = #{formData},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteFlowInstanceById" parameterType="Long">
        delete from flow_instance where id = #{id}
    </delete>

    <delete id="deleteFlowInstanceByIds" parameterType="Long">
        delete from flow_instance where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>

